*{
    margin: 0;
    padding: 0;
    font-family:cursive;
    box-sizing: border-box;
}
.container{
    padding: 0 15px;
}

/* HEADER */
header{
    background-image: url('./img/background-middle.jpg');
    text-align: center;
    padding: 240px;
    
}
.header-wrapper{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 4px;
}
.header-wrapper h1{
    color: rgb(39, 110, 126);
    text-transform: uppercase;
    display: inline-block;
}
.header-wrapper p{
    color: rgb(247, 251, 253);
    margin-top: 10px;
    font-size: large;
}

/* LAYOUT HEADER */
.layout-header{
    position: fixed;
    width: 100%;
}
.layout-header-wrapper{
    padding: 5px 20px;
    
}
.layout-header-left{
    float: left;
}
.layout-header-left h1 a{
    font-style: none;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}
.layout-header-right{
    float: right;
}
.layout-header-right li{
    float: left;
    list-style: none;
    margin: 10px 20px;
}
.layout-header-right li a{
    text-decoration: none;
}
.btn{
    background-color: rgba(39, 110, 126,0);
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(247, 251, 253);
}
.btn:hover{
    background-color: rgba(39, 110, 126,0.8);
}

/* MIDDLE */
.middle{
    background-color: rgb(247, 251, 253);
    height: 500px;
    padding-top: 25px;
}
.middle-wrapper{
    margin: 0px 200px;
}
.left-middle-wrapper{
    float: left;
    margin-top: 175px;
}
.right-middle-wrapper{
    float: right;
}
.right-middle-wrapper img{
    height: 350px;
    margin-right: 100px;
    padding: 40px 90px;
    border-radius: 10px;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, rgb(19,78,95), rgb(39, 110, 126));
}
.right-middle-wrapper img:hover{
    background-position: 0 -100%;
}
.right-middle-wrapper img:hover:after{
    top: 0;
    height: 100%;
}
.right-middle-wrapper img:active{
    top: 2px;
}
